@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html,body{
    height: 100%;
}

.container-header{
    width: 100%;
    background-color: #D6D6D6;
}

.center-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
}

.logo-1 img{
    width: 150px;
}

.logo-2 img{
    width: 160px;
}

.logo-1{
    margin-left: 20px;
}

.logo-2{
    margin-right: 20px;
}

.first-container-section{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: flex-end;
}

.form-container-section{
    position: relative;
    top: -15px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    background-clip: content-box;
    max-width: 400px;
    width: 100%;
    height: 530px;
    box-shadow: 1px 1px 1px 1px rgba(180, 180, 180, 0.644);
}

.form-section h2{
    font-weight: normal;
    font-size: 18px;
    background-color: #EAECEF;
    padding: 17px;
}

.form-section p{
    margin-left: 3.8%;
    font-size: 14px;
    color: rgb(56, 56, 56);
}

.form-section p:first-of-type{
    margin-top: 30px;
}

.form-section input{
    width: 100%;
    max-width: 92%;
    margin-left: 4%;
    margin-bottom: 35px;
    outline: 0;
    padding: 13px 5px;
    border: 1px solid rgba(90, 89, 89, 0.548)
}

.form-section input[type=submit]{
    background-color: #033C50;
    padding: 10px;
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.form-section span{
    margin-left: 4%;
    font-size: 14px;
    color: rgb(56, 56, 56);
}

.section-blue{
    max-width: 1160px;
    width: 100%;
    background-color: #29526D;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 170px;
}

.section-blue h2{
    color: white;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}

.section-blue h3{
    color: white;
    font-weight: normal;
}

.arrow img{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.container-main{
    position: relative;
    top: -68px;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
}
  
.flex-container{
    display: flex; 
}

.item-1{
    background-size: cover;
    background-position: center;
    width: 64%;
}

.item-2{
    width: 36%;
    padding: 100px 50px;
    background-color: #4683AB;
    color: white;
}

@media screen and (max-width:960px){
    .first-container-section{
        justify-content: center;
    }
    .form-container-section{
        top: 0;
        right: 0;
    }
    .first-container-section{
        height: 530px;
    }
}

@media screen and (max-width:768px){
    .flex-container{
        display: flex;
        flex-wrap: wrap;
    }
    .item-1{
        width: 100%;
        height: 400px;
        order: 0;
    }
    
    .item-2{
        width: 100%;
        order: 1;
        padding: 80px 40px;
    }
}

@media screen and (max-width:550px){
    .section-blue h2{
        font-size: 20px;
    }

    .section-blue h3{
        font-size: 16px;
    }
}

@media screen and (max-width:510px){
    .center-header{
        flex-direction: column;
        justify-content: space-between;
        height: 170px;
        padding: 20px 0;
    }

    .logo-1, .logo-2{
        margin: 0;
    }  
    
    .form-container-section{
        top: 0;
        right: 0;
    }

    .form-main h2{
        text-align: center;
    }

}